body{
    background: url(Pictures/background1.jpg) no-repeat fixed;
}


header {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-grow: 2;
    background-color: $darkTeal;
}

.col1 {
    flex: 5;
    background-color: $lightTeal;
    padding: 20px;
}
