@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700|Nunito|Raleway&display=swap");
p {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  color: #FFFFFF;
  margin: 0;
  padding: 10px 0 10px 0;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 3.5em;
  color: white;
  font-weight: normal;
}

h2 {
  font-family: "Cinzel", serif;
  font-size: 1em;
  padding: 10px;
  color: #ffb20a;
  font-weight: 100;
}

main {
  text-align: center;
}

body {
  background: url(../../../assets/pictures/background2.jpg) no-repeat fixed;
}

header {
  text-align: center;
  margin: 0 auto;
}

.logo {
  width: 500px;
}

.backBtnIndex {
  display: block;
  margin-right: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  background: #560753;
  margin: 20px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 50px;
}

.backBtnIndex:hover {
  background: #073f50;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.col {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  background-color: rgba(7, 63, 80, 0.8);
  padding: 5px;
  border: 2px solid #FFFFFF;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 5px 0 5px;
}

.character:hover {
  background-color: rgba(51, 150, 179, 0.8);
  cursor: pointer;
}

.character:active {
  border: 2px solid #ffb20a;
}

.flex-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-top: 20px;
  margin-bottom: 40px;
}

.characterImg {
  height: 220px;
  margin-top: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.charSelect {
  font-family: "Raleway", sans-serif;
  background-color: #560753;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
}

.container-selection {
  font-family: "Cinzel", serif;
  font-size: 2.5em;
  background-color: rgba(7, 63, 80, 0.8);
  padding: 10px;
  border: 2px solid #FFFFFF;
  color: #ffb20a;
  font-weight: 100;
  border-radius: 40px;
  margin: 0;
  margin-left: 35%;
  margin-right: 35%;
}

#startGame {
  font-size: 20px;
  background-color: #560753;
  padding: 15px;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  cursor: pointer;
  color: #FFFFFF;
}

#startGame:hover {
  background-color: #073f50;
  color: #ffb20a;
}

#startGame:active {
  border: 2px solid #ffb20a;
}

#startGame:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  border: 2px solid white;
}

.content-container {
  max-width: 1400px;
  margin: 0 auto;
}

.selected {
  border: 2px solid yellow;
  background-color: rgba(51, 150, 179, 0.8);
}

#dice {
  border: 2px solid black;
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  font-size: 35px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 30px;
}

#dice.rolling {
  font-size: 50px;
  -webkit-animation: spin 1000ms infinite linear;
          animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.character-display {
  width: 280px;
  font-family: "Cinzel", serif;
  font-size: 30px;
  padding-top: 300px;
}

.character-display.arya-stark {
  background-image: url(../../assets/pictures/characters/png/arya.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: unset;
}

.character-display.jon-snow {
  background-image: url(../../assets/pictures/characters/png/jonsnow.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: unset;
}

.character-display.daenerys-targaryan {
  background-image: url(../../assets/pictures/characters/png/denerys.png);
  background-repeat: no-repeat;
}

.character-display.theon-greyjoy {
  background-image: url(../../assets/pictures/characters/png/theon.png);
  background-repeat: no-repeat;
}

.character-display.tyrion-lannister {
  background-image: url(../../assets/pictures/characters/png/tyrion1.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: unset;
}

.character-display.margaery-tyrell {
  background-image: url(../../assets/pictures/characters/png/tyrell.png);
  background-repeat: no-repeat;
}

.character-display.joffrey-baratheon {
  background-image: url(../../assets/pictures/characters/png/joffrey.png);
  background-repeat: no-repeat;
}

.character-display.oberyn-martell {
  background-image: url(../../assets/pictures/characters/png/oberyn.png);
  background-repeat: no-repeat;
}

.character-display.catelyn-stark {
  background-image: url(../../assets/pictures/characters/png/catelyn.png);
  background-repeat: no-repeat;
}

.character-display.cersei-lannister {
  background-image: url(../../assets/pictures/characters/png/cersey.png);
  background-repeat: no-repeat;
}

.token {
  width: 90px;
  height: 90px;
  margin: 5px 0;
  margin-left: 10px;
}

.token.arya-stark {
  background-image: url(../../assets/pictures/shields/png/shieldstarkgirl.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.token.jon-snow {
  background-image: url(../../assets/pictures/shields/png/shieldstark.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.token.daenerys-targaryan {
  background-image: url(../../assets/pictures/shields/png/shieldtargaryan.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.token.theon-greyjoy {
  background-image: url(../../assets/pictures/shields/png/shieldgreyjoy.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.token.tyrion-lannister {
  background-image: url(../../assets/pictures/shields/png/shieldlannister1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.token.margaery-tyrell {
  background-image: url(../../assets/pictures/shields/png/shieldtyrell.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.token.joffrey-baratheon {
  background-image: url(../../assets/pictures/shields/png/shieldbaratheon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.token.oberyn-martell {
  background-image: url(../../assets/pictures/shields/png/shieldmartell.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.token.catelyn-stark {
  background-image: url(../../assets/pictures/shields/png/shieldtully.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.token.cersei-lannister {
  background-image: url(../../assets/pictures/shields/png/shieldlannister.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-game {
  width: 400px;
  margin-left: 300px;
}

.backBtn {
  display: block;
  margin-right: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  background: #560753;
  margin: 20px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  color: #ffb20a;
  cursor: pointer;
}

.backBtn:hover {
  background: #073f50;
}

a {
  color: #ffb20a;
  text-decoration: none;
}

.headerBtn {
  float: right;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.colPlayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 40px;
  font-family: "Cinzel", serif;
  background-color: rgba(7, 63, 80, 0.7);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
}

.colScore {
  display: block;
}

.square {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  height: 130px;
  width: 130px;
  margin: 3px;
}

.scoreP {
  font-family: "Cinzel", serif;
}

.board {
  position: relative;
  padding-bottom: 0px;
}

.tile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 900px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tile {
  border: 2px solid white;
  background-color: rgba(51, 150, 179, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-family: "Cinzel", serif;
  font-size: 20px;
}

.tile.start {
  border: 2px solid white;
  background: #073f50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-family: "Cinzel", serif;
}

.tile.finish {
  border: 2px solid white;
  background: #560753;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-family: "Cinzel", serif;
}

.character-score-display {
  color: white;
  display: inline-block;
  margin-top: 50px;
}

.token-1.start-only {
  position: absolute;
  left: -50px;
}

.character-display {
  color: white;
}

.token.Jon {
  background: #ffb20a;
}

.tile.trap1 {
  background: url(../../pictures/game/dragontrap1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 200px;
}

.modal-content {
  background-color: rgba(86, 7, 83, 0.9);
  margin: 15% auto;
  padding: 20px;
  border: 2px solid white;
  width: 58%;
  text-align: center;
  border-radius: 10px;
}

.close {
  color: #cd40ff;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.playParagraph {
  font-size: 30px;
}

.trapModalClass {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 200px;
}

.trap-modal-content {
  background-color: rgba(86, 7, 83, 0.9);
  margin: 15% auto;
  padding: 20px;
  border: 2px solid white;
  width: 58%;
  text-align: center;
  border-radius: 10px;
}

.close {
  color: #cd40ff;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.trapParagraph {
  font-family: "Cinzel", serif;
  font-size: 30px;
}

#character {
  font-family: "Cinzel", serif;
  font-size: 70px;
  color: #ffb20a;
}

.containerWinner {
  margin: 0 auto;
  text-align: center;
  max-width: 1400px;
  background-color: rgba(7, 63, 80, 0.8);
  border: 2px solid white;
  border-radius: 10px;
  padding-bottom: 40px;
  margin-top: 20px;
  padding-top: 30px;
}

.buttons {
  text-align: center;
  margin: 30px;
  padding: 30px 40px 30px 40px;
  background-color: #560753;
  font-family: "Cinzel", serif;
  font-size: 35px;
  border: 2px solid white;
  color: #FFFFFF;
  border-radius: 10px;
  margin-right: 40%;
  margin-left: 40%;
}

.buttons:hover {
  background-color: #073f50;
  font-weight: 600;
}

.buttons:active {
  border: 2px solid #ffb20a;
}

#myCanvas {
  position: absolute;
  width: 99%;
  height: 78%;
}

.pokal {
  margin-right: 100%;
}

.pokal1 {
  margin-left: 100%;
}

.pokalPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.winner-display {
  width: 280px;
  font-size: 30px;
  margin: 0 auto;
  height: 300px;
}

.winner-display.arya-stark {
  background-image: url(../../assets/pictures/characters/png/arya.png);
  background-repeat: no-repeat;
}

.winner-display.jon-snow {
  background-image: url(../../assets/pictures/characters/png/jonsnow.png);
  background-repeat: no-repeat;
}

.winner-display.daenerys-targaryan {
  background-image: url(../../assets/pictures/characters/png/denerys.png);
  background-repeat: no-repeat;
}

.winner-display.theon-greyjoy {
  background-image: url(../../assets/pictures/characters/png/theon.png);
  background-repeat: no-repeat;
}

.winner-display.tyrion-lannister {
  background-image: url(../../assets/pictures/characters/png/tyrion1.png);
  background-repeat: no-repeat;
}

.winner-display.margaery-tyrell {
  background-image: url(../../assets/pictures/characters/png/tyrell.png);
  background-repeat: no-repeat;
}

.winner-display.joffrey-baratheon {
  background-image: url(../../assets/pictures/characters/png/joffrey.png);
  background-repeat: no-repeat;
}

.winner-display.oberyn-martell {
  background-image: url(../../assets/pictures/characters/png/oberyn.png);
  background-repeat: no-repeat;
}

.winner-display.catelyn-stark {
  background-image: url(../../assets/pictures/characters/png/catelyn.png);
  background-repeat: no-repeat;
}

.winner-display.cersei-lannister {
  background-image: url(../../assets/pictures/characters/png/cersey.png);
  background-repeat: no-repeat;
}

.backToCharacter {
  text-align: center;
  margin: 30px 800px 30px 800px;
  padding: 20px 20px 20px 20px;
  background-color: #560753;
  font-family: "Cinzel", serif;
  font-size: 25px;
  border: 2px solid white;
  color: #FFFFFF;
  border-radius: 10px;
}

.backToCharacter:hover {
  background-color: #073f50;
}

.playParagraph {
  font-family: "Cinzel", serif;
  margin-top: 30px;
  font-size: 30px;
}

@media only screen and (max-width: 1468px) {
  .buttons {
    font-size: 35px;
    margin-left: 35%;
    margin-right: 35%;
  }
  .pokal {
    margin-right: 70%;
  }
  .pokal1 {
    margin-left: 70%;
  }
}

@media only screen and (max-width: 960px) {
  .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    width: 400px;
  }
  .container-selection {
    font-size: 30px;
  }
  #startGame {
    font-size: 17px;
  }
  #character {
    font-size: 40px;
  }
  .buttons {
    font-size: 25px;
    margin-left: 35%;
    margin-right: 35%;
  }
  .logo-winner {
    width: 500px;
  }
  #myCanvas {
    width: 90%;
    height: 70%;
  }
  .pokal {
    margin-right: 50%;
    width: 250px;
  }
  .pokal1 {
    margin-left: 50%;
    width: 250px;
  }
}

@media only screen and (max-width: 600px) {
  .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    width: 350px;
  }
  .container-selection {
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;
  }
  #startGame {
    font-size: 15px;
  }
  .characterImg {
    height: 200px;
  }
  .flex-container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  #character {
    font-size: 35px;
  }
  .buttons {
    font-size: 25px;
    margin-left: 25%;
    margin-right: 25%;
  }
  .logo-winner {
    width: 400px;
  }
  #myCanvas {
    width: 95%;
    height: 70%;
  }
  .pokal {
    display: none;
  }
  .pokal1 {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */