p {
    @include paragraph;
    margin: 0;
    padding: 10px 0 10px 0;
}

h2 {
    font-family: $header-font;
    font-size: 1em;
    //margin: 0 700px 0 700px;
    padding: 10px;
    color: $yellow;
    font-weight: 100;
}

main {
    text-align: center;
}