body{
    background: url(../../../assets/pictures/background1.jpg) no-repeat fixed;
}


header {
    text-align: center;
    margin: 0 auto;
}

.logo {
    width: 500px;
}


.backBtnIndex {
    @include buttons;
    padding: 10px 50px;
}

.backBtnIndex:hover {
    background: $darkTeal;
}