body{
    background: url(../../../assets/pictures/background1.jpg) no-repeat fixed;
}


header {
    text-align: center;
}

.logo {
    width: 500px;
    margin-left: 150px;
}

.backBtnIndex {
    display: block;
    margin-right: 20px;
    font-family: $body-font2;
    font-size: 20px;
    background: $darkPurple;
    margin: 20px;
    padding: 10px 80px;
    border: 2px solid white;
    border-radius: 10px;
}

.backBtnIndex:hover {
    background: $darkTeal;
}