// CHARACTERS
.character-display {
    height: 300px;
}

.character-display.arya-stark {
    background-image: url(../../assets/pictures/characters/png/arya.png);
    background-repeat: no-repeat;
}

.character-display.jon-snow {
    background-image: url(../../assets/pictures/characters/png/jonsnow.png);
    background-repeat: no-repeat;
}