.flex-container {
    display: flex;
    margin-top: 20px;
}



.col {
    @include column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 5px 0 5px;
}

.character:hover {
    background-color: rgba(51, 150, 179, 0.8);
    cursor: pointer;
}

.character:active {
    border: 2px solid $yellow;
}


.flex-container2 {
    display: flex;
    flex-grow: 2;  
    margin-top: 20px;
    margin-bottom: 40px;
}

.characterImg {
    @include charImg;
    align-self: flex-start;
}


.charSelect {
    @include characterBtn;
}

.container-selection {
    font-family: $header-font;
    font-size: 2.5em;
    background-color: rgba(7, 63, 80, 0.8);
    padding: 10px;
    border: 2px solid $white;
    color: $yellow;
    font-weight: 100;
    border-radius: 40px;
    margin: 0;
    margin-left: 35%;
    margin-right: 35%;
}

#startGame {
    font-size: 20px;
    background-color: $darkPurple;
    padding: 15px;
    border: 2px solid $white;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    cursor: pointer;
    color: $white;
}

#startGame:hover {
    background-color: $darkTeal;
    color: $yellow;
}

#startGame:active {
    border: 2px solid $yellow;
}

#startGame:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  border: 2px solid white;
}

.content-container {
    max-width: 1400px;
    margin: 0 auto;
}

.selected {
    border: 2px solid yellow;
    background-color: rgba(51, 150, 179, 0.8);
}