


// TABLET

@media only screen and (max-width: 960px) {
    .col {
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-container2 {
        flex-direction: column;
    }


    .logo {
        width: 400px;
    }

    .container-selection {
        font-size: 30px;
    }

    #startGame {
        font-size: 17px;
    }
    
    // WINNER PAGE

    #character {
        font-size: 40px;
    }

    .buttons {
        font-size: 25px;
        margin-left: 35%;
        margin-right: 35%;
    }

    .logo-winner {
        width: 500px;
    }

    #myCanvas {
        width: 90%;
        height: 70%;
        
    }
}


// MOBILE 

@media only screen and (max-width: 600px) {
    .col {
        flex-direction: column;
    }

    .logo {
        width: 350px;
        
    }

    .container-selection {
        font-size: 25px;
        margin-left: 20%;
        margin-right: 20%;
    }

    #startGame {
        font-size: 15px;
    }

    .characterImg {
        height: 200px;
    }

    .flex-container2 {
        flex-direction: column;
        margin-top: 0;
    }

    //WINNER PAGE
    #character {
        font-size: 35px;
    }

    .buttons {
        font-size: 25px;
        margin-left: 25%;
        margin-right: 25%;
    }

    .logo-winner {
        width: 400px;
    }

    #myCanvas {
        width: 95%;
        height: 70%;
        
    }
}