// INGAME TOKENS

.token {
    width: 90px;
    height: 90px;
    margin: 5px 0;
    margin-left: 10px;
}

.token.arya-stark {
    background-image: url(../../assets/pictures/shields/png/shieldstarkgirl.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.token.jon-snow {
    background-image: url(../../assets/pictures/shields/png/shieldstark.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.token.daenerys-targaryan {
    background-image: url(../../assets/pictures/shields/png/shieldtargaryan.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.token.theon-greyjoy {
    background-image: url(../../assets/pictures/shields/png/shieldgreyjoy.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.token.tyrion-lannister {
    background-image: url(../../assets/pictures/shields/png/shieldlannister1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.token.margaery-tyrell {
    background-image: url(../../assets/pictures/shields/png/shieldtyrell.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.token.joffrey-baratheon {
    background-image: url(../../assets/pictures/shields/png/shieldbaratheon.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.token.oberyn-martell {
    background-image: url(../../assets/pictures/shields/png/shieldmartell.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.token.catelyn-stark {
    background-image: url(../../assets/pictures/shields/png/shieldtully.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.token.cersei-lannister {
    background-image: url(../../assets/pictures/shields/png/shieldlannister.png);
    background-size: contain;
    background-repeat: no-repeat;
}

