// WINNER pictures

.winner-display {
    width: 280px;
    font-size: 30px;
    margin: 0 auto;
    height: 300px;

}

.winner-display.arya-stark {
    background-image: url(../../assets/pictures/characters/png/arya.png);
    background-repeat: no-repeat;
}


.winner-display.jon-snow {
    background-image: url(../../assets/pictures/characters/png/jonsnow.png);
    background-repeat: no-repeat;
}

.winner-display.daenerys-targaryan {
    background-image: url(../../assets/pictures/characters/png/denerys.png);
    background-repeat: no-repeat;
    
}

.winner-display.theon-greyjoy {
    background-image: url(../../assets/pictures/characters/png/theon.png);
    background-repeat: no-repeat;
}

.winner-display.tyrion-lannister {
    background-image: url(../../assets/pictures/characters/png/tyrion1.png);
    background-repeat: no-repeat;
}

.winner-display.margaery-tyrell {
    background-image: url(../../assets/pictures/characters/png/tyrell.png);
    background-repeat: no-repeat;
}

.winner-display.joffrey-baratheon {
    background-image: url(../../assets/pictures/characters/png/joffrey.png);
    background-repeat: no-repeat;
}

.winner-display.oberyn-martell {
    background-image: url(../../assets/pictures/characters/png/oberyn.png);
    background-repeat: no-repeat;
}

.winner-display.catelyn-stark {
    background-image: url(../../assets/pictures/characters/png/catelyn.png);
    background-repeat: no-repeat;
}

.winner-display.cersei-lannister {
    background-image: url(../../assets/pictures/characters/png/cersey.png);
    background-repeat: no-repeat;
}