#character {
    font-family: $header-font;
    font-size: 70px;
    color: $yellow;
}

.containerWinner {
    margin: 0 auto;
    text-align: center;
    max-width: 1400px;
    background-color: rgba(7, 63, 80, 0.8);
    border: 2px solid white;
    border-radius: 10px;
    padding-bottom: 40px;
    margin-top: 20px;
    padding-top: 30px;
}

.buttons {
    text-align: center;
    margin: 30px;
    padding: 30px 40px 30px 40px;
    background-color: $darkPurple;
    font-family: $header-font;
    font-size: 35px;
    border: 2px solid white;
    color: $white;
    border-radius: 10px;
    margin-right: 40%;
    margin-left: 40%;
}

.buttons:hover {
    background-color: $darkTeal;
    font-weight: 600;
}

.buttons:active {
    border: 2px solid $yellow;
}

#myCanvas {
    position: absolute;
    width: 99%;
    height: 78%;
    
}

.pokal {
    margin-right: 100%;


}

.pokal1 {
    margin-left: 100%;

}

.pokalPic {
    display: flex;
    justify-content: center;
}